---
Language: Cpp
ColumnLimit: 100
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
PointerAlignment: Left
SpaceBeforeParens: Never
IndentCaseLabels: true
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: All
AlignAfterOpenBracket: DontAlign